<li>
    {{burger_name}}

    <button class="devourIt" data-burgerid="{{id}}" data-newdevour="{{devour}}">
    {{#if devour}}Devour it!{{else}}Make it again{{/if}}
    </button>

    <button class="delete-burger" data-burgerid="{{id}}">DELETE!</button>


</li>